body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fe0101;
}

.music {
    text-align: center;
    background: #e3fc02;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(45, 3, 255);
    padding: 20px;
}

audio {
    width: 100%;
    margin-top: 20px;
}
